@import '../public/partials/variables.scss';

@mixin align-tweet-input {
  display:flex;
  flex-direction: column;
}

@mixin align-tweet-submission {
  display:flex;
  justify-content: space-between;
}

/*Error Message*/
main #tweet-error-message {
  border: solid 5px $error-color; 
  padding: 20px;
  color: $error-color;
  margin-bottom: 30px;
  display: none;
}

/* User input into textarea box */
main .tweet-input{
  @include align-tweet-input();
  border-bottom: solid 3px #545149;

  /* Styling of actual textarea box */
  #tweet-text {
    margin: 10px 0 10px 0;
    background: transparent;
    border: 0 none;
    outline: none;
    height: 50px;
  }
}

/* Styling for button and counter */
main .tweet-submission {
  @include align-tweet-submission();
  font-family: $font-family-2;
  font-size: 20px;
  margin: 10px 0 0 0;

  .tweet-submit {
    background: $bg-color-desktop;
    color: $font-nav-color;
    padding: 5px 10px 5px 10px;
  }

  .tweet-submit:hover{
    background: #4f64a9;
    cursor: pointer;
  }
}