@import '../public/partials/_variables.scss';

@mixin align-horizontal {
  display: flex;
  justify-content: space-between;
}

/* Tweet Container */
article.tweet{
  border: solid 2px $font-body-color;
  margin-top: 50px;
  padding: 25px;

  /* Header */
  header{
    @include align-horizontal();
    padding: 5px 0px 5px 0px;
  
    .user, .user-name{
      margin-left: 10px;
    }
  
    .user-id{
      color: #b5b5b5;
    }
  }

  /* Tweet Message */
  .tweet-content{
    padding: 40px 0 40px 0;
    border-bottom: 4px solid #545149;
    word-wrap: break-word;
  }

  /* Footer */
  footer{
    @include align-horizontal();
    padding: 15px 15px 0px 15px;
  
    .date-posted{
      font-size: 20px;
    }
  
    .icons{
      color: $bg-color-desktop;
      cursor: pointer;
    }
  
    .icons i{
      margin: 0 10px 0 10px;
    }
  
  }
}

article.tweet:hover{
  background-color: #f5f5f5;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: $bg-color-mobile;
}