/* Tweet Container */
article.tweet {
  border: solid 2px #545149;
  margin-top: 50px;
  padding: 25px;
}

/* Header */
article.tweet header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 5px 0px;
}
article.tweet header .user, article.tweet header .user-name {
  margin-left: 10px;
}
article.tweet header .user-id {
  color: #b5b5b5;
}

/* Tweet Message */
article.tweet .tweet-content {
  padding: 40px 0 40px 0;
  border-bottom: 4px solid #545149;
  word-wrap: break-word;
}

/* Footer */
article.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}
article.tweet footer .date-posted {
  font-size: 20px;
}
article.tweet footer .icons {
  color: #4056A1;
  cursor: pointer;
}
article.tweet footer .icons i {
  margin: 0 10px 0 10px;
}

article.tweet:hover {
  background-color: #f5f5f5;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: #cc8800;
}
