$bg-color-mobile: #cc8800;
$bg-color-desktop: #4056A1;
$bg-color-body: #f4f1ec;

$font-nav-color: #FFFFFF;
$font-body-color: #545149;
$font-family-1: 'Source Sans 3', sans-serif;
$font-family-2: "Bungee", sans-serif;
$custom-font-size: 24px;

$error-color: red;